body{
    background: url(https://img.freepik.com/free-photo/top-view-cup-tea-with-cinnamon-light-background-drink-tea-color-desk_140725-40054.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1698883200&semt=ais);
    background-size: cover;
    background-blend-mode: darken;
    
    
}
body {
    font-family: Arial, sans-serif;
  }
  .container {
    text-align: center;
    margin-top: 20px;
    font-size: large;
    color: black;
    backdrop-filter: blur(10px);
  opacity: 80%;
  font-family: cursive;
  font-weight: bold;
   
    
    
  }
  button{
    background-color: rgb(84, 32, 32);
    color: white;
  }
  h1{
      font-family: cursive;
      text-shadow: 1px 1px 3px rgb(64, 24, 24);
      
  }